// Common
* {
  box-sizing: border-box;
}
body {
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont,
		system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.6;
}
button {
  cursor: pointer;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont,
		system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}
.inner {
  color: #616568;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -.3px;
  line-height: 1.43;
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

// Hero Swiper Content
.swiper-content {
  .inner {
    letter-spacing: normal;
    height: 320px;
    padding: 0;
    display: flex;
  }

  &__left {
    max-width: 600px;
    position: absolute;
    top: 44%;
    left: 32px;
    transform: translateY(-50%);

    .hero-tags {
      margin-bottom: 16px;
      display: flex;
      gap: 6px;

      .tag {
        font-size: 14px;
        font-weight: 700;
        width: fit-content;
        height: 24px;
        padding: 0 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
      }
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      word-break: keep-all;
    }
  }

  &__right {
    width: 737px;
    position: absolute;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 320px;
      display: block;
    }
  }
}

// Hero Swiper Bullet
.hero .swiper-pagination-container .swiper-pagination .hero-bullet, 
.hero .hero-more .swiper-pagination .hero-bullet{
  color: #495057;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  width: fit-content;
  height: 36px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px #ced4da;
  padding: 0 16px;
  margin: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  &.swiper-pagination-bullet-active {
    color: #00c471;
    box-shadow: inset 0 0 0 2px #00c471;
  }
}

// Swiper Prev Next Button
.swiper-prev-btn,
.swiper-next-btn {
  width: 44px;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
  background: hsla(0,0%,100%,.85);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  cursor: pointer;

  > div { 
    font-size: 32px;
  }

  &.swiper-button-disabled {
    display: none; 
  }
}
.swiper-prev-btn > div {
  transform: translate(-1px, 1px); 
}
.swiper-next-btn > div {
  font-weight: 380;
  transform: translate(1px, 1px); 
}

// Course Card
.course-card {
  &:hover {
    .course-card-cover {
      display: block;
    }
  }

  &-item {
    &__image {
      position: relative;
      letter-spacing: normal;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
      .type {
        color: #055160;
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        padding: 5.25px 9.75px;
        border: 1px solid #0dcaf0;
        border-radius: 0 4px 0 0;
        background: #6edff6;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .discount {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        padding: 2px 2px 2px 4px;
        border: 1px solid #fff;
        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: #ff6318;
        position: absolute;
        top: 5%;
        right: 0;

        > small {
          font-size: 12px;
        }
      }
    }
    &__content {
      padding: 8px 0;
      letter-spacing: normal;

      h4 {
        color: #454545;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: pre-wrap;
      }
      .instructor {
        color: #7d7d7d;
        font-size: 14.4px;
        line-height: 21.6px;
      }
      .status {
        color: #495057;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        border-radius: 4px;
        padding: 2px 9px;
        background: #adb5bd;
        display: inline;
      }
      .rating {
        width: 72px;
        height: 24px;
        position: relative;
        display: flex;
        align-items: center;
        
        &-star {
          display: flex;

          > svg {
            color: #fdcc11;
            width: 14.4px;
            height: 14.4px;
            line-height: 24px;
            display: block;
          }
        }

        .review-cnt {
          color: #4a4a4a;
          font-size: 8px;
          position: absolute;
          bottom: 4.8px;
          left: 72px;
        }
      }
      .price {
        color: #175cbe;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        > del {
          color: #595959;
          font-weight: 500;
          font-size: 14.4px;
          opacity: .75;
          margin-right: 1px;
        }
      }
      .tags {
        margin: 8px auto 0;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .tag {
          color: #454545;
          font-size: 12px;
          line-height: 1.5;
          height: 2em;
          border-radius: 4px;
          padding: 0 9px;
          background-color: #e4fafb;
          display: flex;
          justify-content: center;
          align-items: center;
          
          &.participant {
            background-color: #f6d5ea
          }

          &.sale {
            background-color: #ffc8c7;
          }
        }
      }
    }
  }
  &-cover {
    font-size: 13px;
    letter-spacing: normal;
    background-color: rgba(0,0,0,.8);
    padding: 12px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    cursor: pointer;

    &__content {
      h4 {
        color: #fff;
        font-size: 15.2px;
        line-height: 1.25;
        font-weight: 700;
        margin-bottom: 12px;
      }
      .infos {
        color: #c5ebf8;
        line-height: 19.2px;

        > div {
          margin-bottom: 1.12px;
          display: flex;

          svg {
            margin-right: 4.8px;
            width: 16px;
          }

          span {
            width: calc(100% - 20.8px);
          }

          &:not(:last-child) span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:last-child svg {
            align-self: flex-start;
            padding-top: 1px;
          }
        }
      }
    }
    &__btns {
      color: #fff;
      margin-right: 1.4px;
      margin-bottom: 8px;
      position: absolute;
      bottom: 0;
      right: 0;

      > div {
        font-size: 16.25px;
        line-height: 0.8125px;
        text-align: center;
        vertical-align: -0.075em;
        margin-top: 4px;
        position: relative;

        &:hover {
          &::before {
            display: block;
            color: rgba(0,0,0,.7);
            font-size: 12px;
            line-height: 18px;
            width: max-content;
            border-radius: 4px;
            padding: 6.4px 12.8px;
            background-color: rgba(255,221,87,.9);
            position: absolute;
            top: auto;
            bottom: 50%;
            left: auto;
            right: 100%;
            transform: translate(-8px, 50%);
          }

          &::after {
            content: "";
            display: block;
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent transparent rgba(255,221,87,.9);
            position: absolute;
            top: calc(50% - 8px);
            bottom: auto;
            left: auto;
            right: calc(100% - 9px);
          }
        }

        &.cart-btn {
          font-size: 21px;
          padding-bottom: 1px;

          &:hover {
            color: #c5ebf8;

            &::before {
              content: "수강바구니에 추가";
            }
          }
        }
        &.like-btn {
          &:hover {
            color: #ff6c5c;

            &::before {
              content: "좋아요에 추가";
            }
          }
        }
        &.add-btn {
          &:hover::before {
            content: "내 폴더에 추가"
          }
        }
      }

    }
  }
}

// Header
header {
  height: 40px;
  border-bottom: 1px solid #f1f3f5;
  box-sizing: border-box;

  .inner {
    height: 40px;
    display: flex;
    justify-content: space-between;

    &__service {
      display: flex;

      li {
        display: flex;
        align-items: center;

        &:first-child:after {
          content: "";
          display: block;
          width: 1px;
          height: 12px;
          margin-left: 8px;
          margin-right: 10px;
          background-color: #d5dbe2;
        }

        a {
          color: #858a8d;
          font-weight: 500;
          margin-right: 2px;
          display: flex;
          align-items: center;

          &.active {
            color: #1b1c1d;
            font-weight: 700;
          }

          svg {
            margin-right: 4px;
          }
        }
      }
    }

    &__links {
      display: flex;

      li {
        display: flex;
        align-items: center;

        &:first-child:after {
          content: "";
          display: block;
          width: 1px;
          height: 12px;
          margin-left: 8px;
          margin-right: 10px;
          background-color: #d5dbe2;
        }

        a {
          color: #3e4042;
          font-weight: 500;
          display: flex;
          align-items: center;

          &.active {
            color: #1b1c1d;
            font-weight: 700;
          }
        }
      }
    }
  }
}

// Navigation
nav {
  height: 64px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 hsla(0,0%,80.8%,.5);
  z-index: 99;

  .inner {
    height: 64px;
    display: flex;

    .logo {
      margin-right: 10px;
      display: flex;

      a {
        width: 110px;
        display: flex;

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }

    .menu {
      display: flex;
      flex-grow: 1;

      &__left {
        display: flex;

        > ul {
          display: flex;

          > li {
            padding: 8px 0;
            display: flex;
            position: relative;

            a {
              color: #4a4a4a;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: normal;
              padding: 8px 16px;
              display: flex;
              align-items: center;
            }

            &.lecture,
            &.community {
              &:hover {
                > .dropdown,
                &::before,
                &::after {
                  display: block;
                }
              }

              .dropdown {
                display: none;
                width: max-content;
                border-radius: 2px;
                box-shadow: 0 8px 8px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
                padding: 8px 0;
                background-color: #fff;
                position: absolute;
                top: calc(100% - 4px);
                right: 0;

                > li {
                  a {
                    color: #4a4a4a;
                    font-size: 14px;
                    padding: 6px 16px;
                    line-height: 1.5;
                  }
                }

                .separator {
                  width: calc(100% - 20px);
                  height: 1px;
                  margin: 12px auto;
                  border-color: #e9ecef;
                  opacity: .3;
                }

                i {
                  font-size: 14px;
                  margin-left: auto;
                }
              }

              &::before {
                content: "";
                display: none;
                border-color: transparent transparent #ececec;
                border-style: solid;
                border-width: 16px;
                position: absolute;
                top: calc(100% - 30px);
                left: 0;
                right: 0;
                width: 0;
                margin: 0 auto;
              }

              &::after {
                content: "";
                display: none;
                border-color: transparent transparent #fff;
                border-style: solid;
                border-width: 16px;
                position: absolute;
                top: calc(100% - 28px);
                left: 0;
                right: 0;
                width: 0;
                margin: 0 auto;
              }
            }

            &.lecture {
              .dropdown {
                width: 180px;
                box-shadow: 8px 5px 8px 1px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);;
              }

              > .dropdown {
                left: 0;
                right: auto;
                
                .dropdown {
                  height: 100%;
                  top: 0;
                  left: 180px;
                }

                li:hover > .dropdown {
                  display: block;
                }
              }
            }
          }
        }
      }
      &__right {
        flex-grow: 1;
        display: flex;

        .search {
          padding: 8px;
          flex-grow: 1;
          position: relative;
          display: flex;
          align-items: center;

          input {
            color: #5f5f5f;
            font-size: 16px;
            line-height: 24px;
            width: 100%;
            height: auto;
            border: 1px solid transparent;
            border-radius: 8px;
            padding: 5px 40px 5px 9px;
            background-color: #f6f6f6;
            display: block;
            box-sizing: border-box;

            &:focus {
              outline: .04rem auto #1dc078
            }

            &:hover {
              border-color: #b5b5b5;
            }
          }
          .search-icon {
            position: absolute;
            top: 21px;
            right: 20px;
            cursor: pointer;

            i {
              font-size: 18px;
            }
          }
        }
        .nav-btns {
          padding: 8px 0 8px 12px;
          display: flex;
          align-items: center;

          button {
            font-size: 16px;
            line-height: 1;
            text-align: center;
            padding: 8px;
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            box-sizing: border-box;
            display: block;

            &.signin {
              color: #363636;
              margin-right: 0.5rem;
              background-color: #fff;
            }
            &.joinin {
              color: #fff;
              background-color: #ff7867;
            }
          }
        }
      }
    }
  }
}

// Main
main {
  overflow-x: hidden;
}

// Hero
.hero {
  height: 320px;

  .swiper_1 {
    background-color: #ffe402;
    .tag {
      color:#ffe402;
      background-color: #000;
    }
    h1, p { color: #000 }
  }
  .swiper_2 {
    background-color: #00030b;
    .tag {
      color:#111;
      background-color: #76D6D8;
    }
    h1, p { color: #fff }
  }
  .swiper_3 {
    background-color: #00030b;
    .tag {
      color:#000;
      background-color: #1ec078;
    }
    h1, p { color: #fff }
  }
  .swiper_4 {
    background-color: #2358e3;
    .tag {
      color:#111;
      background-color: #fbcb28;
    }
    h1, p { color: #fff }
  }
  .swiper_5 {
    background-color: #202325;
    .tag {
      color:#fff;
      background-color: #02a7ed;
    }
    h1, p { color: #fff }
  }
  .swiper_6 {
    background-color: #fbfbf3;
    .tag {
      color:#fff;
      background-color: #FF8261;
    }
    h1, p { color: #000 }
  }
  .swiper_7 {
    background-color: #000;
    .tag {
      color:#000;
      background-color: #ffe18d;
    }
    h1, p { color: #fff }
  }
  .swiper_8 {
    background-color: #38e5ff;
    .tag {
      color:#fff;
      background-color: #6344ec;
    }
    h1, p { color: #000 }
  }
  .swiper_9 {
    background-color: #ecf9eb;
    .tag {
      color:#48ff08;
      background-color: #000;
    }
    h1, p { color: #000 }
  }
  .swiper_10 {
    background-color: #000;
    .tag {
      color:#000;
      background-color: #5fdc28;
    }
    h1, p { color: #fff }
  }

  .swiper-pagination-wrapper {
    height: 64px;
    border-bottom: 1px solid #e9ecef;

    .inner {
      height: 64px;
      display: flex;
      align-items: center;
    }

    .swiper-pagination-controller {
      color: #fff;
      font-size: 14px;
      width: 135px;
      height: 36px;
      border-radius: 20px;
      padding: 0 16px;
      background-color: rgba(0,0,0,.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;

      .index-wrapper {
        letter-spacing: normal;
        white-space: nowrap;
      }

      .control-wrapper {
        width: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          border: 0;
          padding: 0;
          background: none;
          display: flex;
          align-items: center;
          
          i {
            color: #fff;
            font-size: 12px;
            
            &.fa-play {
              font-size: 10.4px;
            }
          }

          &.hero-btn-prev { transform: translate(-2px, 2px); }
          &.hero-btn-next { transform: translate(2px, 2px); }
          &.hero-btn-player .fa-play { transform: translate(2px, 0px); }
          &.hero-btn-player .fa-pause { transform: translate(1px, 2px); }
        }
      }
    }

    .divider {
      width: 1px;
      height: 36px;
      margin: 0 16px;
      background-color: #dee2e6;
    }
    
    .swiper-pagination-container {
      height: 36px;
      flex-grow: 1;
      flex-basis: 0;
      position: relative;
      overflow: hidden;

      .swiper-pagination {
        width: max-content;
        height: 36px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        gap: 8px;
      }
    }

    .hero-more-toggler {
      color: #495057;
      font-size: 16px;
      width: 36px;
      height: 36px;
      margin-left: 16px;
      padding: 1px 6px;
      border: 1px solid #ced4da;
      border-radius: 50%;
      background-color: #fff;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        font-size: 30px;
        font-weight: 200;
      }

      &.active {
        border: 1px solid #00c471;;
        > div {
          color: #00c471;
          transform: rotate(180deg);
        }
      }
    }
  }

  .hero-more {
    width: 857px;
    border-radius: 14px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.3), 0 6px 20px 0 rgba(0,0,0,.04);
    background-color: #fff;
    position: absolute;
    top: -2px;
    right: 0;
    z-index: 11;
    display: none;

    &.show {
      display: block;
    }

    &__header {
      letter-spacing: normal;
      height: 48px;
      padding: 0 20px;
      border-bottom: 1px solid #e9ecef;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      h3 {
        color: #212529;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
      button {
        color: #ced4da;
        font-size: 16px;
        font-weight: 700;
        text-decoration: underline;
        background: none;
        border: none;
        padding: 1px 6px;
        display: block;
      }
    }
    &__items {
      height: 120px;
      position: relative;

      .swiper-pagination {
        height: 120px;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
    }
  }
}

// Searching
.searching {
  padding-top: 48px;
  padding-bottom: 24px;
  margin-top: 65px;
  
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: #363636;
      font-size: 24px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: normal;
      margin-bottom: 20px;
    }

    .search {
      max-width: 580px;
      width: 100%;
      position: relative;
      
      input {
        color: #5f5f5f;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: normal;
        width: 100%;
        background-color: rgba(29,192,120,.12);
        border: 1px solid rgba(29,192,120,.24);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        padding: 15px 60px 13px 20px;
        border-radius: 28px;
        transition: all .2s ease;

        &::placeholder {
          color: #9FCAB7;
          line-height: 24px;
          font-family: Pretendard, -apple-system, BlinkMacSystemFont,
            system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
            "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol", sans-serif;
        }

        &:focus {
          outline: none;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
          border: 1px solid #dedede;
          background-color: #fff;

          &::placeholder {
            color: #D8D8D8;
          }
        }
      }

      .search-icon {
        padding: 5px 12px;
        position: absolute;
        top: 50%;
        right: 19px;
        transform: translateY(-50%);
        cursor: pointer;

        i {
          font-size: 21px;
        }
      }
    }
  }
}

// New Curation
.new-curation {
  .inner {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__swiper {
    overflow: hidden;

    .swiper-wrapper {
      width: fit-content;
      display: flex;
      gap: 24px;

      cursor: grab;
      &:active { cursor: grabbing; }

      .swiper-slide {
        width: 76px !important;
        height: 93px;
        display: flex;
        align-items: center;
  
        a {
          text-decoration: none;
          width: max-content;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
  
          img {
            width: 36px;
            height: 36px;
            object-fit: cover;
            display: block;
          }
  
          p {
            color: #000;
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            letter-spacing: normal;
          }
        }
      }
    }
  }

  &__prev-btn,
  &__next-btn {
    top: calc(50% - 29.5px);
  }
  &__prev-btn {
    left: 10px;
  }
  &__next-btn {
    right: 10px;
  }
}

// Free Course
.free-course {
  padding: 24px 0;

  &__header {
    margin-bottom: 16px;

    a {
      color: #1e1e1e;
      display: flex;
      align-items: center;
      gap: 8px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: normal;
        text-decoration: none;
      }

      i {
        font-size: 29px;
      }
    }

    p {
      color: #757575;
      margin-top: 4px;
      font-size: 15px;
      letter-spacing: normal;
    }
  }

  &__swiper {
    overflow: hidden;

    .swiper-wrapper {
      padding: 6px 0;
    }
  }

  &__prev-btn,
  &__next-btn {
    background-color: #fff;
    opacity: .85;
    top: calc(50% + 18px);

    &.swiper-button-disabled {
      color: #efefef;
      border: 1px solid #efefef;
      box-shadow: 0 2px 8px 0 transparent;
      cursor: not-allowed;
      display: flex;
    }
  }
  &__prev-btn {
    left: 10px;
  }
  &__next-btn {
    right: 10px;
  }
}

// Welcome Course
.welcome-course {
  padding: 24px 0;

  &__header {
    margin-bottom: 16px;

    a {
      color: #1e1e1e;
      display: flex;
      align-items: center;
      gap: 8px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: normal;
        text-decoration: none;
      }

      i {
        font-size: 29px;
      }
    }

    p {
      color: #757575;
      margin-top: 4px;
      font-size: 15px;
      letter-spacing: normal;
    }
  }

  &__swiper {
    overflow: hidden;

    .swiper-wrapper {
      padding: 6px 0;
    }
  }

  &__prev-btn,
  &__next-btn {
    background-color: #fff;
    opacity: .85;
    top: calc(50% + 18px);

    &.swiper-button-disabled {
      color: #efefef;
      border: 1px solid #efefef;
      box-shadow: 0 2px 8px 0 transparent;
      cursor: not-allowed;
      display: flex;
    }
  }
  &__prev-btn {
    left: 10px;
  }
  &__next-btn {
    right: 10px;
  }
}

// Roadmap
.roadmap {
  padding: 24px 0;

  &__header {
    margin-bottom: 16px;

    a {
      color: #1e1e1e;
      display: flex;
      align-items: center;
      gap: 8px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: normal;
        text-decoration: none;

        span {
          color: #fa4c3d;
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
        }
      }

      i {
        font-size: 29px;
      }
    }

    p {
      color: #757575;
      margin-top: 4px;
      font-size: 15px;
      letter-spacing: normal;
    }
  }

  &__swiper {
    overflow: hidden;

    .swiper-wrapper {
      padding-top: 6px;
      padding-bottom: 5px;

      .course-card-item {
        &__image {
          img {
            height: 141.215px;
            object-fit: cover;
          }
        }

        &__content {
          padding: 9px 0 0;
  
          h5 {
            color: #454545;
            font-size: 15.2px;
            font-weight: 700;
            line-height: 1.125;
            margin-bottom: 0.8888em;
          }
        }
      }
    }
  }

  &__prev-btn,
  &__next-btn {
    background-color: #fff;
    opacity: .85;
    top: calc(50% + 21px);

    &.swiper-button-disabled {
      color: #efefef;
      border: 1px solid #efefef;
      box-shadow: 0 2px 8px 0 transparent;
      cursor: not-allowed;
      display: flex;
    }
  }
  &__prev-btn {
    left: 10px;
  }
  &__next-btn {
    right: 10px;
  }
}

// Read
.read {
  padding: 24px 0;

  &__header {
    margin-bottom: 16px;

    a {
      color: #1e1e1e;
      display: flex;
      align-items: center;
      gap: 8px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: normal;
        text-decoration: none;
      }

      i {
        font-size: 29px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    padding: 2px;

    a {
      max-width: 32.3%;
      width: 100%;

      img {
        width: 100%;
        display: block;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      }

      h4 {
        color: #333;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: normal;
        margin-top: 20px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: nowrap;
      }

      .description {
        color: #595959;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        height: 48px;
        letter-spacing: normal;
      }
    }
  }
}

// New Course
.new-course {
  padding: 24px 0;

  &__header {
    margin-bottom: 16px;

    a {
      color: #1e1e1e;
      display: flex;
      align-items: center;
      gap: 8px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: normal;
        text-decoration: none;

        span {
          color: #fa4c3d;
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
        }
      }

      i {
        font-size: 29px;
      }
    }

    p {
      color: #757575;
      margin-top: 4px;
      font-size: 15px;
      letter-spacing: normal;
    }
  }

  &__swiper {
    overflow: hidden;

    .swiper-wrapper {
      padding: 6px 0;
    }
  }

  &__prev-btn,
  &__next-btn {
    background-color: #fff;
    opacity: .85;
    top: calc(50% + 4px);

    &.swiper-button-disabled {
      color: #efefef;
      border: 1px solid #efefef;
      box-shadow: 0 2px 8px 0 transparent;
      cursor: not-allowed;
      display: flex;
    }
  }
  &__prev-btn {
    left: 10px;
  }
  &__next-btn {
    right: 10px;
  }
}

// Review
.review {
  padding: 24px 0;

  .inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    letter-spacing: normal;
    max-width: 480px;
    width: 100%;
    padding: 40px 16px 40px 0;

    h2 {
      color: #242424;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.33;
      margin-bottom: 20px;

      .user-cnt {
        color: #47c880;
      }
    }
    .text {
      color: #757575;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 36px;
      word-break: break-word;
    }
    .btns {
      display: flex;
      gap: 8px;
      
      .btn-more,
      .btn-request {
        color: #333;
        font-size: 16px;
        line-height: 1;
        letter-spacing: normal;
        border: 1px solid #1dc078;
        border-radius: 3px;
        background-color: #fff;
        padding: 10px 16px;
        margin-bottom: 8px;

        > i {
          margin-left: 4px;
        }

        &:hover {
          background-color: rgba(29,192,120,.12);
        }
      }
    }
  }

  &__right {
    max-width: 590px;
    width: 100%;

    .swiper {
      height: 480px;

      .swiper-wrapper {
        .swiper-slide {
          width: auto;
          height: auto !important;
          color: #333;
          letter-spacing: normal;
          box-shadow: 0 2px 3px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
          border-radius: 4px;
          padding: 16px;
          margin-left: 5px;
          margin-right: 5px;
          background-color: #f9f9f9;
          box-sizing: border-box;

          &__top {
            margin-bottom: 16px;

            .name {
              color: #757570;
              font-size: 15px;
              line-height: 22.5px;
              margin-right: 8px;
            }
            .date {
              color: #979797;
              font-size: 14px;
              line-height: 21px;
            }
          }
          &__bottom {
            a {
              color: #333;
              margin-bottom: 4px;
              display: block;

              span {
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
              }
              i {
                font-size: 20px;
                transform: translateY(1px);
              }
            }
            .text {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

// Banner
.banner {
  padding: 24px 0;

  &__swiper {
    .swiper-wrapper {
      .swiper-slide {
        padding: 36px 0;
        background-repeat: no-repeat;
        background-position-x: 40%;

        &_1 {
          background-image: url("../images/banner_swiper1.jpg");
        }
        &_2 {
          background-image: url("../images/banner_swiper2.jpg");
        }
        &_3 {
          background-image: url("../images/banner_swiper3.jpg");
        }

        h4 {
          color: #404040;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: normal;
          margin-bottom: 16px;
        }

        button {
          color: #1dc078;
          font-size: 16px;
          font-weight: 700;
          line-height: 1;
          letter-spacing: normal;
          border: none;
          border-radius: 4px;
          background-color: #fff;
          padding: 12px 16px;
        }
      }
    }
  }

  &__btns {
    position: absolute;
    right: 4px;
    bottom: 16px;
    display: flex;
    gap: 4px;

    .swiper-prev-btn,
    .swiper-next-btn {
      width: 29px;
      height: 29px;
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      position: relative;
      
      > div {
        font-size: 25px;
      }

      &.swiper-button-disabled {
        color: #979797;
        background-color: rgba(249, 249, 249, 0.8);
        display: flex;
      }
    }
  }

  &__pagination {
    z-index: 11;
    width: auto !important;
    position: absolute;
    bottom: 16px !important;
    left: 50% !important;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      margin: 0 !important;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.48);
      border-radius: 4px;
      cursor: pointer;
      transition: all .5s ease;

      &-active {
        width: 32px;
        background-color: #fff;
      }
    }
  }
}

// B to B
.btob {
  padding: 64px 32px 44px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -.3;
    margin-bottom: 20px;
  }

  &__logos {

    &__top,
    &__bottom {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      gap: 30px;
      
      .logo img {
        height: 28px;
        filter: grayscale(1);
        display: block;
      }
    }
  }
}

// Service
.service {
  padding: 48px;
  background-color: #F9F9F9;

  &__header {
    margin-bottom: 20px;
    letter-spacing: normal;
    
    h3 {
      color: #1e1e1e;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }

    p {
      color: #757575;
      font-size: 15px;
      line-height: 1.5;
      margin-top: 4px;
    }
  }

  &__container {
    letter-spacing: normal;
    padding: 2px;
    display: flex;
    gap: 10px;

    .item {
      width: 370px;
      height: 330px;
      padding: 48px;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      background-color: #fff;
      display: flex;
      flex-direction: column;

      h4 {
        color: #363636;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.125;
        margin-bottom: 8px;
      }

      p {
        color: #757575;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        flex-grow: 1;
      }

      a {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        width: max-content;
        padding: 12px 16px;
        margin-top: auto;
        background-color: #1dc078;
        border: none;
        border-radius: 999px;
        display: flex;
        align-items: center;

        > span {
          font-size: 16px;
          margin-left: 4px;
          transform: scaleX(1.2) scaleY(.9);
        }
      }
    }
  }
}

// Footer
footer {
  background-color: #303740;

  .inner {
    color: #bdbdbd;
    letter-spacing: normal;
    max-width: 1152px;
    padding: 0;
  }

  .menu {
    border-bottom: 1px solid #444;
    padding: 32px 20px;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        padding: 16px 0 10px;
        margin-right: 20px;

        h4 {
          color: #eee;
          font-weight: 700;
          margin-bottom: 16px;
        }

        a {
          color: #bdbdbd;
          margin-bottom: 7px;
          display: block;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .info {
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;

    &__left {
      font-size: 12px;
      line-height: 1.5;

      .legal {
        margin-bottom: 8px;

        a {
          color: #bdbdbd;
          font-weight: 700;

          svg {
            fill: #1dc078;
          }

          &::after {
            content: "|";
            display: inline-block;
            margin: 0 8px;
            font-weight: 400;
          }

          &:last-child::after {
            display: none;
          }
        }
      }
      .meta {
        margin-bottom: 8px;

        span {
          font-size: 12px;
          line-height: 1.5;

          a {
            color: #bdbdbd;

            &:hover {
              color: #454545;
            }
          }
        }
      }
    }

    &__right {
      margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 11px;

      a {
        color: #333;
        font-size: 20px;
        font-weight: 700;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #bdbdbd;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Chat
.chat {
  &__toggler {
    width: 56px;
    height: 56px;
    border-radius: 24px;
    background-color: #1dc078;
    box-shadow: 
      rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, 
      rgba(0, 0, 0, 0.1) 0px 4px 6px, 
      rgba(0, 0, 0, 0.15) 0px 8px 30px;
    position: fixed;
    bottom: 72px;
    right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    cursor: pointer;
    transition: .3s;

    .icon {
      width: 30px;
      height: 30px;
      border-radius: 12px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      &--question {
        color: #1dc078;
        font-size: 23px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &--close {
        color: rgba(0, 0, 0, 0.6);
        font-size: 30px;
        background-color: transparent;
        display: none;
        justify-content: center;
        align-items: center;
      }
    }

    &.show {
      background-color: #E3E4E6;

      .icon{
        background-color: transparent;

        &--question { display: none; }
        &--close { display: flex; }
      }
    }

    &:active {
      transform: scale(.9);
    }
  }

  &__window {
    width: 390px;
    height: 690px;
    position: fixed;
    bottom: 138px;
    right: 18px;
    border-radius: 30px;
    box-shadow: 
      rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, 
      rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, 
      rgba(0, 0, 0, 0.3) 0px 12px 60px;
    background-color: #F7F7F8;
    overflow: hidden;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: .3s;

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    
    &__header {
      height: 196px;
      background-image: url("../images/chat_header.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;

      .gradation {
        background: 
          linear-gradient(
            rgba(245, 252, 248, 0) 7.81%, 
            rgba(245, 252, 248, 0.6) 22.7%, 
            rgb(245, 252, 248) 50.01%, 
            rgba(245, 252, 248, 0.8) 70.23%,
            rgba(245, 252, 248, 0) 100%
          );
        width: 100%;
        height: 120px;
        position: absolute;
        bottom: -60px;
        left: 0;
      }

      h2 {
        font-size: 27px;
        font-weight: 600;
        line-height: 1.5;
        position: absolute;
        left: 27px;
        bottom: 9px;
      }

      button {
        color: #00000099;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.5px;
        height: min-content;
        border: none;
        padding: 4px 10px;
        background-color: transparent;
        position: absolute;
        right: 24px;
        bottom: 14px;

        &:hover {
          background-color: #00000033;
          border-radius: 8px;
        }
      }
    }

    &__main {
      position: relative;
      z-index: 12;

      &__top {
        padding: 8px;
        margin: 0 16px;
        border-radius: 20px;
        background-color: #fff;

        a {
          color: #000000d9;
          padding: 8px 40px 8px 6px;
          border-radius: 20px;
          display: flex;
          gap: 8px;

          img {
            width: 36px;
            height: 36px;
          }

          .text {
            h4 {
              font-size: 14px;
              font-weight: 600;
            }
            p {
              font-size: 16.5px;
              font-weight: 300;
              line-height: 20px;
              letter-spacing: 1.2px;

              b {
                font-weight: 600;
              }

              i {
                color: #FFCA27;
              }

              &:last-child {
                margin-top: 10px;
              }
            }
          }
          
          &:hover {
            background-color: #00000008;
          }
        }

        button {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 2.0px;
          padding: 14px 0;
          margin: 12px 4px 8px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2px;
          border: none;
          border-radius: 16px;
          background-color: #1dc078;

          &:hover {
            filter: brightness(0.8);
          }
        }

        .time-check {
          color: #00000099;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1.1px;
          margin-bottom: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          svg {
            color: #00000066;
          }
        }
      }

      &__bottom {
        margin: 16px 0 8px;
        display: flex;
        justify-content: center;

        a {
          color: #00000066;
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 1.5px;
          display: flex;
          align-items: center;
          gap: 4px;

          &:hover {
            color: #000000d9;
          }
        }
      }
    }

    &__menu {
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;

      a {
        color: rgba(0, 0, 0, 0.4);
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        
        svg {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        span {
          font-size: 13.5px;
          line-height: 16px;
          letter-spacing: 1.5px;
          display: block;
          margin-left: 2px;
        }

        &.active,
        &:hover {
          color: #1dc078;
        }
      }
    }
  }
}